@font-face {
    font-family: bonehead;
    src: url(fonts/Bonehead.ttf);
}

* {
    font-family: bonehead;
    color: #F80;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

html {
    height: 100vh;
    background-color: #222;
    background: url(images/jack.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    min-width: 900px;
}

.spacer {
    width: 1px;
    height: 50px;
    margin: 0 auto;
}

h1 {
    font-size: 72px;
    text-align: center;
}

#game-container {
    width: 100%;
    text-align: center;
}

#output {
    visibility: collapse;
}

#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    background-color: black;
    margin: 0 auto;
}

footer {
    position: absolute;
    bottom: 0;
}

#stuff {
    color: white;
    width: 50%;
    margin: 0 auto;
}

#stuff > ul {
    width: 50%;
    margin: 0 auto;
}

#stuff > h3 {
    text-align: center;
}