#game-container {
    width: 100%;
    text-align: center;
}

#game {
    border-bottom: 1px solid #aaa;
    border-left: 5px solid #4a4;
    margin: 0 auto;
}

html {
    height: 99vh;
    background-color: #222;
}

footer {
    position: absolute;
    bottom: 0;
}

#stuff {
    width: 50%;
    margin: 0 auto;
}

#stuff > h3 {
    text-align: center;
}